target
.project

#Eclipse settings
.settings

#Idea settings
.idea/*


.classpath
*.iml
.vagrant
.metadata
.DS_Store
.sonatype

.gradle/
*.gradle
build/
gradle/
gradlew

# ... except these
!.idea/codeStyleSettings.xml
!.settings/org.eclipse.jdt.ui.prefs
